<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="TaskManagementDb" connectionString="Server=(localdb)\mssqllocaldb;Database=TaskManagementDb;Trusted_Connection=true;" />
        <add name="RabbitMQ" connectionString="host=localhost;port=5672;username=guest;password=guest" />
    </connectionStrings>
    <appSettings>
        <add key="QueueName" value="task-reminders" />
        <add key="CheckIntervalMinutes" value="5" />
        <add key="MaxConcurrentPublishes" value="10" />
    </appSettings>
</configuration>